<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/6213P2/src/main/edu/gwu/cs6213/p2/Project2Launcher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.gwu.cs6213.p2.Project2Launcher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="6213P2"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dproject2.property=bin/project2.property -Dlog4j.configuration=file:bin/log4j.xml"/>
</launchConfiguration>
